* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #eeecec;
}
.name-of-game h1{
    font-family: Helvetica, sans-serif;
}

#letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 7em 0 0 0;
    font-family: 'Short Stack', cursive;
    position: relative;
    top: -80px;
}

#letters div {
    width: 2em; height: 2em;
    color: darkgreen;
    border: 1px gray solid;
    text-align: center;
    display: grid;
    place-content: center;
    margin: 5px;
    cursor: pointer;
}

#letters div:hover {
    background-color: palegreen;
}

.dashed p {
    font-size: em;
    letter-spacing: 0.5em;
    color: black;
    margin-bottom: 2em;
    position: relative;
    top: 10px;
    display: inline;
    margin: 0  1rem 0 0 ;
}

.result {
    font-size: 2rem;
    display: none;
    position: relative;
    top: 20px;
}

#letters div.used { 
    background-color: lightgray;
    opacity: 0.5;
}

#play-again button { 
    padding:13px ;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: #ecf0f3;
    color: #3f3f3f;
    border-radius: 15px;
    box-shadow: 8px 8px 13px #cbced1,
        -8px -8px 13px #ffffff;
    border: #ecf0f3;
    cursor: pointer;
    position: relative;
    top: -40px;
}

#play-again button:hover {
    background-color: #e1ecf5;
}

.image img { 
    position: relative;
    top: 0px;
}

#show-question {
    width: 390px; height: 230px;
    border: 1px black solid;
    position: absolute;
    left: 120px; top: 270px;
    padding: 15px;
    background-color: #dde1fa;
    border-radius: 15px;
    border: #ecf0f3;
    color: #3f3f3f;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#show-question #question {
    width: 370px; height: 189px;
    border: 1px black solid;
    padding: 8px;
    background-color: inherit;
    border-radius: 15px;
    border: #ecf0f3;
    color: #5c486b;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

#show-question h3 {
    font-size: 22px;
    color: #5e08c0;
}

.fa-github { 
    position: absolute;
    bottom: 105px; left: 40px;
    font-size: 2.5rem;
    cursor: pointer;
    color: rgb(39, 39, 39);
}

.fa-github:hover {
    color: rgb(9, 9, 9);
}

.fa-gitlab{
    position: absolute;
    bottom: 50px; left: 40px;
    font-size: 2.5rem;
    color: rgb(255, 149, 36);

}

.fa-gitlab:hover {
    color: rgb(250, 130, 3);
}


